
#sidebar {
  float: left;
  width: 350px;
  margin-left: 20px;
}

.editor { 
    width: 380px;
    height: 210px;
    font-size: 14px;
}

.editor-wrapper {
    width: 380px;
    height: 210px;
}


.inner {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}


aside#sidebar {
  width: 200px;
  padding-left: 20px;
  min-height: 504px;
  float: right;
  background: transparent url(../images/sidebar-bg.jpg) 0 0 no-repeat;
  font-size: 12px;
  line-height: 1.3;
}

aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  font-weight: bold;
}
